* {
  box-sizing: border-box;
}

html {
  font-size: 8px;
}

@import url(https://fonts.googleapis.com/css?family=Assistant:300,400,600,italic|Questrial:400|Raleway:400,600,700|Abril_fatface|Quicksand|Archivo_narrow:400,600|Source_sans_pro);

@font-face {
    font-family: 'assistantbold';
    src: url('fonts/assistant-bold-webfont.woff2') format('woff2'),
         url('fonts/assistant-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'assistantextrabold';
    src: url('fonts/assistant-extrabold-webfont.woff2') format('woff2'),
         url('fonts/assistant-extrabold-webfont.woff') format('woff');
  }

@font-face {
    font-family: 'assistantextralight';
    src: url('fonts/assistant-extralight-webfont.woff2') format('woff2'),
         url('fonts/assistant-extralight-webfont.woff') format('woff');
}

@font-face {
    font-family: 'assistantlight';
    src: url('fonts/assistant-light-webfont.woff2') format('woff2'),
         url('fonts/assistant-light-webfont.woff') format('woff');
}

@font-face {
    font-family: 'assistantregular';
    src: url('fonts/assistant-regular-webfont.woff2') format('woff2'),
         url('fonts/assistant-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'assistantsemibold';
    src: url('fonts/assistant-semibold-webfont.woff2') format('woff2'),
         url('fonts/assistant-semibold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'abril_fatfaceregular';
    src: url('fonts/abrilfatface-regular-webfont.woff2') format('woff2'),
         url('fonts/abrilfatface-regular-webfont.woff') format('woff');

}

body {
  background-color: #ffffff;
}

p {
  color: #383737;
  font-size: 1.8rem;
  font-family: 'assistantlight', sans-serif;
  font-weight: normal;
  line-height: 1.3;
  margin-top: 1rem;
}

h1 {
  color: #383737;
  font-size: 3rem;
  font-weight: normal;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;

}

h2 {
  color: #CF262B;
  font-size: 3.2rem;
  font-weight: bold;
  font-family: 'CustomFont', abril_fatfaceregular, serif;
  margin-top: .5rem;
}

h3 {
  color: #EB673E;
  font-size: 2.4rem;
  font-weight: bold;
  font-family: 'CustomFont', abril_fatfaceregular, serif;
}

h4 {
  color: #ffffff;
  font-size: 1.3rem;
  font-family: 'assistant', sans-serif;
  font-weight: normal;  line-height: 1.3;
}

h5 {
  color: #CF262B;
  font-size: 2.4rem;
  font-family: 'assistant', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
}

a {
  color: #C14382;
  font-size: 1.6rem;
  font-family: 'assistant', sans-serif;
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
    color: #EB673E;
}

a.ionicons {
  font-size: 2.4rem;
}

a.ionicons {
    color: #FFFFFF;
}

img {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

img.img_c {
  display: block;
  justify-content: center;
  padding: 0;
  opacity: 0.8;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

section {
  color: #383737;
}

.pink {
    color: #C14382;
    font-weight: bold;
}

.orange {
    color: #EB673E;
    font-weight: bold;
}

.orange_big {
    color: #EB673E;
    font-size: 2rem;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.top {
  grid-area: top;
  transition: 0.5s;
}

.logo_i {
  height: 8vh;
  width: auto;
  float: left;
}

.nav {
  color: #383737;
  align-self: end;
  grid-area: nav;
}

.proto {
  color: #383737;
  text-align: center;
}

.centered {
  text-align: center;
}

ul.navigation {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul li {
  float: right;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1.2rem;
  text-decoration: none;
}

.hero {
  background-image: url("../images/headshot_2.jpg");
  background-color: #ffffff;
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  width: auto;
  grid-area: hero;
}

.case_text {
  text-align: left;
  margin-left: 20vw;
  margin-right: 2vw;
}

.case1_pic {
  background-color: #f7f7f7;
  color: #383737;
  padding-bottom: 2.6rem;
  grid-area: case1_pic;
}

.banner {
  background-color: #fce5db;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: banner;
}

.footer1 {
  background-color: #fce5db;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: footer1;
}

.footer2 {
  background-color: #C14382;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: footer2;
}

.arrow {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    color: #383737;
    text-align: center;
    grid-area: arrow;
}

.mail {
  color: #383737;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: 'assistantlight', sans-serif;
  text-decoration: none;
}

.case1 {
  background-color: #ffffff;
  color: #383737;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 40px 40px 40px 160px;
  grid-area: case1;
}

.row0 {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  color: #383737;
  text-align: left;
  grid-area: row0;
}

.row1 {
  background-color: #f7f7f7;
  padding: 40px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  color: #383737;
  text-align: left;
  grid-area: row1;
}

.row2 {
  background-color: #ffffff;
  padding: 40px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  color: #383737;
  text-align: left;
  grid-area: row2;
}

.row3 {
  background-color: #f7f7f7;
  padding: 40px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  color: #383737;
  text-align: left;
  grid-area: row3;
}

#char {
  display: grid;
  grid-template-columns: minmax(min-content, 600px);
  grid-gap: 5px;
  box-sizing: border-box;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 10vh 8vh repeat(5 , max-content) 70px 150px;
  grid-template-areas:
  ". top ."
  "banner banner banner"
  "row0 row0 row0"
  "case1 case1 case1"
  "row1 row1 row1"
  "row2 row2 row2"
  "row3 row3 row3"
  "footer1 footer1 footer1"
  "footer2 footer2 footer2";
}


 @media screen and (min-width: 800px){
   .grid-container {
     display: grid;
     grid-template-columns: 1fr 4fr 1fr 1fr 4fr 1fr;
     grid-template-rows: 10vh 8vh  repeat(4, max-content) 70px 150px;
     grid-template-areas:
     ". top top top top ."
     "banner banner banner banner banner banner"
     "case1 case1 row0 row0 row0 row0"
     "row1 row1 row1 row1 row1 row1"
     "row2 row2 row2 row2 row2 row2"
     "row3 row3 row3 row3 row3 row3"
     "footer1 footer1 footer1 footer1 footer1 footer1"
     "footer2 footer2 footer2 footer2 footer2 footer2";
   }

   html {
     font-size: 10px;
   }


   p {
     color: #383737;
     font-size: 1.8rem;
     font-family: 'assistantlight', sans-serif;
     font-weight: normal;
     line-height: 1.3;
     margin-top: 1rem;
   }

   .nav {
     color: #383737;
     font-size: 1.6rem;
     align-self: end;
     grid-area: nav;
   }
 }
