* {
  box-sizing: border-box;
}

html {
  font-size: 8px;
}

@import url(https://fonts.googleapis.com/css?family=Assistant:300,400,600|Questrial:400|Raleway:400,600,700|Abril_fatface);

@font-face {
    font-family: 'assistantbold';
    src: url('fonts/assistant-bold-webfont.woff2') format('woff2'),
         url('fonts/assistant-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'assistantextrabold';
    src: url('fonts/assistant-extrabold-webfont.woff2') format('woff2'),
         url('fonts/assistant-extrabold-webfont.woff') format('woff');
  }

@font-face {
    font-family: 'assistantextralight';
    src: url('fonts/assistant-extralight-webfont.woff2') format('woff2'),
         url('fonts/assistant-extralight-webfont.woff') format('woff');
}

@font-face {
    font-family: 'assistantlight';
    src: url('fonts/assistant-light-webfont.woff2') format('woff2'),
         url('fonts/assistant-light-webfont.woff') format('woff');
}

@font-face {
    font-family: 'assistantregular';
    src: url('fonts/assistant-regular-webfont.woff2') format('woff2'),
         url('fonts/assistant-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'assistantsemibold';
    src: url('fonts/assistant-semibold-webfont.woff2') format('woff2'),
         url('fonts/assistant-semibold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'abril_fatfaceregular';
    src: url('fonts/abrilfatface-regular-webfont.woff2') format('woff2'),
         url('fonts/abrilfatface-regular-webfont.woff') format('woff');

}


body {
  background-color: #ffffff;
}

p {
  color: #383737;
  font-size: 1.8rem;
  font-family: 'assistantlight', sans-serif;
  font-weight: normal;
  line-height: 1.3;
  margin-top: 1rem;
}

h1 {
  color: #383737;
  font-size: 3rem;
  font-weight: normal;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;

}

h2 {
  color: #5B2828;
  font-size: 4rem;
  font-weight: bold;
  font-family: 'abril_fatfaceregular', serif;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

h3 {
  color: #EB673E;
  font-size: 2.4rem;
  font-weight: bold;
  font-family: 'abril_fatfaceregular', serif;
}

h4 {
  color: #ffffff;
  font-size: 1.3rem;
  font-family: 'assistant', sans-serif;
  line-height: 1.3;
}

a {
  color: #383737;
  font-size: 1.6rem;
  font-family: 'assistant', sans-serif;
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  color: #EB673E;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

img.img_a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

section {
  color: #383737;
}

.pink {
    color: #C14382;
    font-weight: bold;
}

.top {
  grid-area: top;
  transition: 0.5s;
}

.logo_i {
  height: 8vh;
  width: auto;
  float: left;
}

.nav {
  color: #383737;
  align-self: end;
  grid-area: nav;
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1.2rem;
  text-decoration: none;
}

.main_l {
  border-left: 1.6rem solid #EFBC28;
  padding-bottom: 2.6rem;
  grid-area: main_l;
}

.main {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  background-color: #EFBCBC;
  padding: 4rem;
  grid-area: main;
}

.hero {
  background-image: url("../images/hero_image_v03.png");
  background-color: #FDF2ED;
  background-size: cover;
  background-position: leftcenter;
  background-repeat: no-repeat;
  height= 50rem;
  grid-area: hero;
}

.main_r {
  border-right: 1.6rem solid #EB673E;
  padding-bottom: 2.6rem;
  grid-area: main_r;
}


.case1 {
  background-color: #f7f7f7;
  color: #383737;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.6rem;
  grid-area: case1;
}

.case2 {
  background-color: #ffffff;
  color: #383737;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.6rem;
  grid-area: case2;
}

.green {
  background-color: #CDD7D0;
  margin-left: 20vw;
  padding: .5rem 40vw .5rem 20vw;
}

.green2 {
  background-color: #CDD7D0;
  text-align: center;
  margin-right: 40vw;
  padding: .5rem 30vw .5rem 60vw;
}

.case_text {
  text-align: left;
  margin-left: 20vw;
  margin-right: 2vw;
}

.case_text2 {
  text-align: left;
  margin-left: 10vw;
  margin-right: 7vw;
}

.case1_pic {
  background-color: #f7f7f7;
  color: #383737;
  padding-top: 2.6rem;
  padding-bottom: 2.6rem;
  grid-area: case1_pic;
}

.case2_pic {
  background-color: #ffffff;
  color: #383737;
  padding-bottom: 2.6rem;
  grid-area: case2_pic;
}

a.button1 {
 background-color: #CF262B;
 border: none;
 border-radius: 8px;
 color: white;
 cursor: pointer;
 font-size: 1.8rem;
 padding: 1rem 2.6rem ;
 text-align: center;
}

a.button1:hover {
 background-color: #EB673E;
 }

a.ionicons {
  font-size: 2.4rem;
}

a.ionicons:hover {
  color: #ffffff;
  font-size: 2.4rem;
}

.footer1 {
  background-color: #fce5db;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: footer1;
}

.footer2 {
  background-color: #C14382;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: footer2;
}

.arrow {
    background-color: #f7f7f7;
    color: #383737;
    text-align: center;
    grid-area: arrow;
}

.mail {
  color: #383737;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: 'assistantlight', sans-serif;
  text-decoration: none;
}



.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 10vh 70vh 5vh 5vh max-content auto 5vh max-content auto 70px 150px;
  grid-template-areas:
  ". top ."
  "main_l main main_r "
  ". . ."
  "arrow arrow arrow"
  "case1_pic case1_pic case1_pic"
  "case1 case1 case1"
    ". . ."
  "case2_pic case2_pic case2_pic"
  "case2 case2 case2"
  "footer1 footer1 footer1"
  "footer2 footer2 footer2";
}


 @media screen and (min-width: 800px){
   .grid-container {
     display: grid;
     grid-template-columns: 1fr 4fr 2fr 4fr 1fr;
     grid-template-rows: 10vh 80vh 3rem 3rem max-content 3rem max-content 70px 150px;
     grid-template-areas:
     ". top top top ."
     "main_l main hero hero main_r"
     ". . . . ."
     "arrow arrow arrow arrow arrow"
     "case1_pic case1_pic case1_pic case1 case1"
      ". . . . ."
     "case2 case2 case2_pic case2_pic case2_pic"
     "footer1 footer1 footer1 footer1 footer1"
     "footer2 footer2 footer2 footer2 footer2";
   }

   html {
     font-size: 10px;
   }

   p {
     color: #383737;
     font-size: 1.8rem;
     font-family: 'assistantlight', sans-serif;
     font-weight: 300;
     line-height: 1.3;
     margin-top: 1rem;
   }

   .nav {
     color: #383737;
     font-size: 1.6rem;
     align-self: end;
     grid-area: nav;
   }

   .green {
     background-color: #CDD7D0;
     margin-left: 10vw;
     padding: .5rem 18vw .5rem 8vw;
   }

   .green2 {
     background-color: #CDD7D0;
     text-align: center;
     margin-right: 50vw;
     padding: .5rem 10vw .5rem 60vw;
   }

   .case_text {
     margin-left: 10vw;
   }

   .case_text2 {
     text-align: left;
     margin-left: 5vw;
     margin-right: 7vw;
   }
}
