* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

@import url(https://fonts.googleapis.com/css?family=Assistant:300,400,600|Raleway:400,600,700|Abril_fatface);

body {
  background-color: #ffffff;
}

p {
  color: #383737;
  font-size: 1.6rem;
  font-family: 'Assistant', sans-serif;
  line-height: 1.3;
  margin-top: 1rem;
}

h1 {
  color: #383737;
  font-size: 2.4rem;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  line-height: 1;
}

h2 {
  color: #CF262B;
  font-size: 3.2rem;
  font-weight: bold;
  font-family: 'Abril fatface', serif;
  margin-top: 1rem;
}

h3 {
  color: #EB673E;
  font-size: 2.4rem;
  font-weight: bold;
  font-family: 'Abril fatface', serif;
}

h4 {
  color: #ffffff;
  font-size: 1.3rem;
  font-family: 'Assistant', sans-serif;
  line-height: 1.3;
}

a {
  color: #383737;
  font-size: 1.6rem;
  font-family: 'Assistant', sans-serif;
  text-decoration: none;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

img.img_a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

section {
  color: #383737;
}

.pink {
    color: #C14382;
    font-weight: bold;
}

.top {
  grid-area: top;
}

.logo_i {
  height: 8vh;
  width: auto;
  float: left;
}

.nav {
  color: #383737;
  font-size: 1rem;
  align-self: end;
  grid-area: nav;
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1.2rem;
  text-decoration: none;
}

.main_l {
  border-left: 1.6rem solid #C14382;
  padding-bottom: 2.6rem;
  grid-area: main_l;
}

.main {
  height: 80vh;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  background-color: #FDF2ED;
  padding: 4rem;
  grid-area: main;
}

.hero {
  background-image: url("../images/hero_image.png");
  background-color: #FDF2ED;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height= 50rem;
  grid-area: hero;
}

.main_r {
  border-right: 1.6rem solid #EB673E;
  padding-bottom: 2.6rem;
  grid-area: main_r;
}


.case1 {
  background-color: #f7f7f7;
  color: #383737;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.6rem;
  grid-area: case1;
}

.green {
  background-color: #CDD7D0;
  margin-left: 20vw;
  padding: .5rem 40vw .5rem 20vw;
}

.case_text {
  text-align: left;
  margin-left: 20vw;
  margin-right: 2vw;
}

.case1_pic {
  background-color: #f7f7f7;
  color: #383737;
  padding-bottom: 2.6rem;
  grid-area: case1_pic;
}

a.button1 {
 background-color: #CF262B;
 border: none;
 border-radius: 4px;
 color: white;
 cursor: pointer;
 font-size: 1.2rem;
 padding: .6rem 2rem ;
 text-align: center;
}

.footer1 {
  background-color: #fce5db;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: footer1;
}

.footer2 {
  background-color: #C14382;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: footer2;
}

.arrow {
    background-color: #f7f7f7;
    color: #383737;
    text-align: center;
    grid-area: arrow;
}

.mail {
  color: #383737;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Assistant', sans-serif;
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 10vh 80vh 3rem 3rem max-content auto 70px 150px;
  grid-template-areas:
  ". top ."
  "main_l main main_r "
  ". . ."
  "arrow arrow arrow"
  "case1_pic case1_pic case1_pic"
  "case1 case1 case1"
  "footer1 footer1 footer1"
  "footer2 footer2 footer2";
}


 @media screen and (min-width: 800px){
   .grid-container {
     display: grid;
     grid-template-columns: 1fr 4fr 2fr 4fr 1fr;
     grid-template-rows: 10vh 80vh 3rem 3rem max-content 70px 150px;
     grid-template-areas:
     ". top top top ."
     "main_l main hero hero main_r"
     ". . . . ."
     "arrow arrow arrow arrow arrow"
     "case1_pic case1_pic case1_pic case1 case1"
     "footer1 footer1 footer1 footer1 footer1"
     "footer2 footer2 footer2 footer2 footer2";
   }

   .nav {
     color: #383737;
     font-size: 1.6rem;
     align-self: end;
     grid-area: nav;
   }

   .green {
     background-color: #CDD7D0;
     margin-left: 10vw;
     padding: .5rem 18vw .5rem 8vw;
   }

   .case_text {
     margin-left: 10vw;
   }
}
